<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    {# {{ bootstrap.load_css() }} #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    {% endblock styles %}

    <title>{% block title %}Your page title{% endblock %}</title>
    <link rel="icon" href="/favicon.png" type="image/png">
{% endblock head %}
</head>
<body{#% block body_attrs %} class="bg-dark text-white"{% endblock %#}>
{% block body %}

    {% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('index') }}">SpamMailer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expand="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
            {% if not current_user.is_authenticated %}
                {% for page, label in (("login", "Log in"), ("signup", "Sign up")) %}
                <li class="nav-item{{ ' active' if request.endpoint == page + '_route' else '' }}">
                    <a class="nav-link" href="{{ url_for(page + '_route') }}">{{ label }}</a>
                </li>
                {% endfor %}
            {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarLogoutDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Log out
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarLogoutDropdown">
                        <div class="dropdown-item">
                            {{ current_user.name }} &lt;<code>{{ current_user.email }}</code>&gt;
                        </div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ url_for('logout_route') }}">Log out</a>
                    </div>
                </li>
            {% for page in ("compose", "inbox", "outbox") %}
                <li class="nav-item{{ ' active' if request.endpoint == page + '_route' else '' }}">
                    <a class="nav-link" href="{{ url_for(page + '_route') }}">{{ page|capitalize }}</a>
                </li>
            {% endfor %}
            {% endif %}
            </ul>
        </div>
    </nav>
    {% endblock nav %}

    <div class="container">

        {% from "bootstrap/utils.html" import render_messages %}
        <div class="container mt-3">
            {{ render_messages(container=False, dismissible=True, dismiss_animate=True) }}
        </div>

    {% block content %}{% endblock content %}

    </div>

    {% block scripts %}
        {# bootstrap.load_js() #}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
                crossorigin="anonymous"></script>
{% endblock scripts %}
{% endblock body %}
</body>
</html>
