{% extends "base.html" %}

{% block title %}Compose new mail{% endblock %}

{% block content %}

<h1>Compose a new email</h1>

{% from "bootstrap/form.html" import render_form %}
<div class="container, mt-3 mb-3">
    {# render_form(form, action=url_for("compose_route_new"), enctype="multipart/form-data") #}

    <form action="{{ url_for("compose_route") }}"
        method="post"
        class="form"
        enctype="multipart/form-data">

        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.subject.label }}
            {{ form.subject(class_="form-control", placeholder="Message subject") }}
        </div>

        <div class="form-group">
            {{ form.recipient.label }}
            {{ form.recipient(class_="form-control",
                placeholder="someone@example.com") }}
        </div>

        <div class="form-group">
            {{ form.body.label }}
            {{ form.body(class_="form-control", rows=5) }}
        </div>

        <div class="form-group">
            {{ form.submit(class_="btn btn-primary btn-md") }}
        </div>

        <div class="form-group">
            <div class="d-none">
                <div class="progress d-none">
                    <div
                        id="message-sending-progress"
                        class="
                            progress-bar progress-bar-striped progress-bar-animated
                        "
                        role="progressbar"
                        aria-valuenow="0"
                        aria-valuemin="0"
                    ></div>
                </div>
                <p id="message-sending-status"></p>
                <ul class="d-none list-unstyled" id="methods-tested"></ul>
            </div>
        </div>
    </form>
</div>

{% endblock content %}

{% block scripts %}
    {{ super() }}
    {% if current_user.enabled %}
    <script src="{{ url_for('static', filename='js/compose.js') }}"></script>
    {% else %}
    <script>
    (function() {
        function formSubmitHandler(event) {
            const form = event.target;
            event.preventDefault();
            form.querySelectorAll(
                "div > input, div > button, div > textarea"
            ).forEach((i) => {
                i.disabled = true;
            });
            alert("Your account is disabled, you can't send messages.");
        }
        window.addEventListener("load", function (event) {
            document.forms[0].addEventListener("submit", formSubmitHandler);
        });
    })();
    </script>
    {% endif %}
{%- endblock scripts -%}
