{% extends "base.html" %}

{% block title %}Compose new mail{% endblock %}

{% block content %}

<h1>Compose a new email</h1>

{% from "bootstrap/form.html" import render_form %}
<div class="container, mt-3 mb-3">
    {{ render_form(form, action=url_for("compose_route"), enctype="multipart/form-data") }}
</div>

{% endblock content %}
