{% extends "base.html" %}

{% block title %}{{ name }}{% endblock %}

{% block content %}

<h1>{{ name }}</h1>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            {#- Don't show From if user is viewing their outbox (it's always their address) -#}
            {%- if name|lower != "outbox"  -%}
            <th scope="col">From</th>
            {%- endif -%}
            {#- Don't show To if user is viewing their inbox (it's always their address) -#}
            {%- if name|lower != "inbox"  -%}
            <th scope="col">To</th>
            {%- endif -%}
            <th scope="col">Subject</th>
            <th scope="col">Date</th>
            {#- Only show spam status in the inbox -#}
            {%- if name|lower == "inbox"  -%}
            <th scope="col">Spam status</th>
            {%- endif -%}
        </tr>
        </thead>
        <tbody>
        {% for message in messages %}
        <tr>
            {%- if name|lower != "outbox"  -%}
            <td>{{ message.sender.name }} <code>&lt;{{ message.sender.email }}&gt;</code></td>
            {%- endif -%}
            {%- if name|lower != "inbox"  -%}
            <td>{{ message.recipient.name }} <code>&lt;{{ message.recipient.email }}&gt;</code></td>
            {%- endif -%}
            <td><a class="text-reset" href="{{ url_for('message_route', message_id=message.id) }}">{{ message.subject }}</a></td>
            <td><a class="text-reset" href="{{ url_for('message_route', message_id=message.id) }}">
                {{ message.date.strftime("%Y-%m-%d %H:%M:%S") }}</a></td>
            {%- if name|lower == "inbox"  -%}
            <td>
                <span class="badge badge-{{ {'ham': 'success', 'spam': 'danger'}.get(message.is_spam|lower, 'secondary') }}">
                    {{ message.is_spam }}
                </span>
            </td>
            {%- endif -%}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
