{% extends "base.html" %}

{% block title %}Index - My app{% endblock %}

{% block content %}
    <h1>Hello, world!</h1>
    <p>Welcome to my <a href="https://flask.palletsprojects.com/">Flask</a> App!</p>
{%- endblock -%}