{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h1>Log in to your account</h1>

{% from "bootstrap/form.html" import render_form %}
<div class="container, mt-3 mb-3">
    {{ render_form(form, action=url_for("login_route"), enctype="multipart/form-data") }}
</div>

<p>Don't have an account? You can <a href="{{ url_for('signup_route') }}">create one</a>.</p>

{% endblock content %}
