{% extends "base.html" %}

{% block title %}View message{% endblock %}

{% block content %}

<h1>View message</h1>

<div class="container">
    <dl class="row">
        <dt class="col-2">From:</dt>
        <dd class="col-10">{{ message.sender.name }} <code>&lt;{{ message.sender.email }}&gt;</code></dd>

        <dt class="col-2">To:</dt>
        <dd class="col-10">{{ message.recipient.name }} <code>&lt;{{ message.recipient.email }}&gt;</code></dd>

        <dt class="col-2">Subject:</dt>
        <dd class="col-10">{{ message.subject }}</dd>

        <dt class="col-2">Date:</dt>
        <dd class="col-10">{{ message.date.strftime("%Y-%m-%d %H:%M:%S") }}</dd>

        {% if show_spam %}

        <dt class="col-2">Spam status:</dt>
        <dd class="col-10">
            <span class="badge badge-{{ {'ham': 'success', 'spam': 'danger'}.get(message.is_spam|lower, 'secondary') }}">
                {{ message.is_spam }}
            </span>
        </dd>

	{% endif %}
    </dl>

    {% if show_spam %}

    <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button"
                   id="brkdownBtn" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Breakdown of spam check
                   results</button>
    <div class="dropdown-menu p-0">
        <table class="table table-dark m-0">
            <tbody>
            {% for r in results %}
                <tr>
                    <td>{{ r.method }}</td>
                    <td>{{ r.accuracy }}</td>
                    <td>{{ r.f1 }}</td>
                    <td>{{ r.is_spam | spamresult }}</td>
                    {%- if r.probability is not none -%}
                    <td>{{ r.probability }}</td>
                    <td>({{ r.certainty }})</td>
                    {%- else -%}
                    <td colspan="2" class="text-center"><abbr title="Not applicable">n/a</abbr></td>
                    {%- endif -%}
                    <td>{{ r.factor }}</td>
                </tr>
            {%- endfor -%}
            </tbody>
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Accuracy</th>
                    <th scope="col">F1</th>
                    <th scope="col">Label</th>
                    <th scope="col">Probability</th>
                    <th scope="col" title="(2 &times; |0.5 - probability|)">Certainty</th>
                    <th scope="col">score<sub>i</sub></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th scope="row">Conensus</th>
                    <td colspan="6">{{ (consensus > 0) | spamresult }}
                        (score = {{ (consensus) }})</td>

                </tr>
            </tfoot>
        </table>
    </div>
    </div>

    {% endif %}

    <div class="container border p-0 mt-3">
        <pre class="m-0 p-2 overflow-auto" id="message">{{ message.body }}</pre>
    </div>
</div>

{% endblock content %}

{% block styles %}
{{ super() }}
{% from 'bootstrap/utils.html' import render_static %}
{{ render_static("css", "css/message.css") }}
{% endblock styles %}

{% block scripts %}
{{ super() }}
<script>console.log("{{ message.is_spam }}");</script>
{% endblock scripts %}
