{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block content %}
<h1>Create a new account</h1>

{% from "bootstrap/form.html" import render_form %}
<div class="container, mt-3 mb-3">
    {{ render_form(form, action=url_for("signup_route"), enctype="multipart/form-data") }}
</div>

<p>Already have an account? You can <a href="{{ url_for('login_route') }}">log in</a>.</p>

{% endblock content %}
