{% extends "base.html" %}

{% block title %}Stream{% endblock %}

{% block content %}
    <h1>Here is the streamed content</h1>
    <p>It should show up one line at a time</p>
    <ul id="chunks"></ul>
    <button id="streamBtn">Start stream</button>
    <p id="status"></p>
{%- endblock -%}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/stream.js') }}"></script>
{%- endblock scripts -%}
